body{
    margin: 0;
}
.App {
    background: #222222 repeating-linear-gradient(
            45deg,
            #1976d2 0%,
            #2b2b2b 10%,
            #325980 0%,
            #222222 50%
    ) 0 0;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
}